/viewer/avnav_viewer_old.html
/viewer/avnav_viewer_old.js
/viewer/avnav_min.js
/viewer/avnav_combine.js
.classpath
.settings/**
.vscode/
.gitgnore
local.properties
data_linux/
data_windows/
*.pyc
**/.idea/**
*.iml
*~
**/build/
**/.gradle/
viewer/node_modules
*.bak
*.swp
*.bck
*.log
docs/viewerimages
docs/*docmapdata.json
avnav_server.xml-????*
hardware/**/*-cache.lib
hardware/**/sym-lib-table
hardware/**/Generic.dcm
server/log/
tmp/
viewer/package-lock.json
windows/**/*exe
windows/**/*.save
windows/**/AvChartConvert.v12.suo
windows/installer/Output
windows/installer/library
android/assets/sounds/**
/bin/
