@import "defines.less";

//----------------------------------------------------------------------------------------
//buttons
//----------------------------------------------------------------------------------------
.activeColor(@activeColor){
    border-color: @activeColor;
}
.buttonBase(){
  margin: 0.2em 0.2em 0.2em 0.2em;
  border-radius: 4px;
  border: unset;
  text-decoration: none;
  background-color: var(--avnav-button-color);
  cursor: pointer;
  &.disabled{
    cursor: initial;
    opacity: 0.6;
  }
  outline: none;
  display: block;
  position: relative;
  .iconFrame{
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    margin: 0;
  }
  &:disabled span{
    opacity: 0.5;
  }
  flex-shrink: 0;
  &.active{
    border-color:var(--avnav-active-color);
    border-width: var(--avnav-active-button-border-width);
    border-style: solid ;
    &.MOB{
      border-color: var(--avnav-attention-color);
    }
  }
  &:after {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0.85em;
    padding-bottom: 0.1em;
    text-align: center;
    overflow: hidden;
    max-height: 1.2em;
  }
}
.buttonRow.button:after{
  position: unset;
}

//TEMP!
.buttonRow.button{
  .listMain{
    display: none;
  }
}

.button-text{
  div:not(.buttonRow,.smallButton,.dialogButton).button .iconFrame{
    height: calc(80% - 0.9em);
  }
  div:not(.buttonRow,.smallButton).button:after {
    display: block;
  }
}
.main-button-text .buttonRow.button:after{
  display: block;
  max-height: unset;
}


.button{
  .buttonBase();
  width: 4em;
  height: 4em;
  font-size: @normalButtonFont;
  .hoverClass&::after {
    display: block;
    position: absolute;
    background-color: var(--avnav-back-color);
    border: 1px solid var(--avnav-fore-color);
    color: var(--avnav-fore-color);
    padding: 0.2em;
    right: 3em;
    top: 1em;
    width: 8em; //fallback
    width: max-content;
    height: 1em;
    left: auto;
    z-index: 999;
    font-style: normal;
  }
}
.buttonRow.button{
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: @mainNavItemWidth;
  .listMain{
    max-width: @mainNavItemWidth;
    overflow: hidden;
  }
}
.fab.button {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  border-radius: 50%;
  background-color: var(--avnav-main-color);
  color: var(--avnav-fore-color-inv);
  .iconFrame{
    .icon {
      filter: var(--avnav-button-filter-inv)
    }
  }
  &:after{
    bottom:0.2em;
  }
}
.smallButton{
  .buttonBase();
  width: 2em;
  height: 2em;
  font-size: 1rem;
}

.iconButton(@icon){
  span {
    .icon(@icon);
  }
}


.dialogButton{
    .buttonBase();
    .iconFrame{
      width: 1em;
      height: 1em;
      left:unset;
      right:unset;
      margin-right: 0.2em;
    }
    &:after {
      display: block;
      position: unset;
      font-size: 1em;
      text-align: center;
    }
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: @normalButtonFont;
    padding: 0.2em;
    width: inherit;
    background-color: var(--avnav-button-color);
    border-color: var(--avnav-button-color);
    border-width: var(--avnav-active-button-border-width);
    border-style: solid;
    color: var(--avnav-fore-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: unset;
    &[disabled] {
      opacity: 0.6;
      }

}


.buttonRow{
  padding-top: 0;
  padding-bottom: 0;
  margin: unset;
  border-radius: 0;
  border: unset;
  background-color: unset;
  width: unset;
  height: unset;
  .iconFrame{
    width: 2em;
    height: 2em;
    left: unset;
    top: unset;
    display: block;
    outline: none;
    position: relative;
  }
}

.button{
  &.LayoutFinished{
    &.active {
      .activeColor(var(--avnav-attention-color));
    }
  }

  &.WarningOK{
    .buttonText{
      font-size: 1.5em;
      padding-top: 0.5em;
      text-align: center;
      display: block;
    }
    .iconFrame{
      display: none;
    }
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 20em;
  }
}
