@import "properties";
@normalButtonFont: 1em;
@widgetFontSize: 14px;

@iconBase: "../images/icons-new";
@oldiconBase: "../images";

.nightOPacity() {
    opacity: var(--avnav-night-opacity);
}


.mdShadow2(){
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.mdText2(){
  opacity: 0.6;
}
.icon(@icon){
    background-image: url("@{iconBase}/@{icon}");
}

