code{
    white-space: pre;
}

.icon-default,.icon-legacy{
    width: 24px;
    height: 24px;
    vertical-align: baseline;
}
img.inline-image{
    height: 24px;
    width: auto;
}

body.iconset-default .icon-legacy{
    display: none;
}
body.iconset-legacy .icon-default{
    display: none;
}

:root{
    --md-accent-bg-color: rgb(216, 216, 216);
}
.selected{
    background-color: var(--md-accent-bg-color);
}
.glightbox img {
    width: 800px;
    max-width: 100%;
    height: auto;
}
.glightbox img.small{
    width: 256px;
}

.videochapter{
    cursor: pointer;
    color: var(--md-typeset-a-color);
}

header .md-label{
    align-self: center ;
    margin: 0.5em;
}
.avnav-button{
    height: 2.5em;
    width: 2.5em;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid lightgrey;
    border-radius: 5px;
    cursor:pointer;
}
.avnav-icon{
    width: 2.5em;
    height: 2.5em;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-x: center;
    background-position-y: center;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border: 1px solid lightgrey;
}
.avnav-button .avnav-icon{
    width: 100%;
    height: 100%;
    background-position-y: unset;
    border: unset;
}
.avnav-button.longText {
    width: 5em;
    height: 3.5em;
}
.avnav-button.longText .avnav-icon{
    background-size: 1.5em 1.5em;
}

.avnav-button.dialog-button{
    width: 5em;
    background-position-x: left;
    background-size: 1.2em;
    background-position-y: center;
    display: inline-flex;
}
.avnav-button.dialog-button .avnav-icon{
    width: 2.5em;
    background-size: 50%;
    background-position-y: center;
    background-position-x: 0.3em;
}
.avnav-button.mainMenu{
    width:10em;
}
.avnav-button.mainMenu:after{
    font-size: 0.8em;
    left: unset;
    bottom: unset;
    top: 0.6em;
    right: 0.5em;
}
.avnav-button.mainMenu .avnav-icon{
    width: 2.5em;
    background-size: 50%;
    background-position-y: center;
    background-position-x: 0.3em;
}
.avnav-button:after{
    position: absolute;
    bottom:0;
    font-size: 0.6em;
    left: 0;
    right: 0;
    text-align: center;
}
.avnav-button.dialog-button:after{
    font-size: 0.8em;
    bottom: 0.6em;
    right: 0.3em;
    text-align: right;
    vertical-align: middle;
}