:root{
    --avnav-xui-switchdesk-icon: url('rpi.png')
}
.nightMode{
    --avnav-xui-switchdesk-icon: url('rpi-bw.svg')
}
.icon-default{
    --avnav-xui-switchdesk-icon: url('rpi-bw.svg')
}
/*
set the icon url for the plugin running as user plugin
and as system plugin
*/
.button.user-switchDesk-Desk2 .icon {
    background-image: var(--avnav-xui-switchdesk-icon);
}
.button.system-switchDesk-Desk2 .icon {
    background-image: var(--avnav-xui-switchdesk-icon);
}
.button.builtin-switchDesk-Desk2 .icon {
    background-image: var(--avnav-xui-switchdesk-icon);
}