html,body {
	
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.avn_panel{
	position: absolute;
}

.avn_leftPanel{
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 120px;
	overflow: hidden;
}
.avn_leftTop{
	left: 0px;
	top: 0px;
	right: 0px;
	height: 20px;
	background-color: blue;
}
.avn_leftBottom{
	bottom: 0px;
	height: 20px;
	left: 0px;
	right: 0px;
	background-color: grey;
}

.avn_map{
	position: absolute;
	top: 21px;
	bottom: 21px;
	left: 0px;
	right: 0px;
	border: 1px solid black;
	
}

.avn_rightPanel{
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 119px;
	background-color: lightblue;
	overflow: hidden;
}

.avn_position{

height: 3em;
font-size: 0.8em;
border-color: black;
border-style: solid;
border-width: 1px;
}

.avn_button{
	width: 50px;
	height: 50px;
	margin: 3px 3px 3px 3px;
}

.avn_selectList	.ui-selecting { background: #1E6CCF;}
.avn_selectList	.ui-selected { background: #1E6CCF; color: white;}
.avn_selectList { list-style-type: none; margin: 0; padding: 0; }
.avn_selectList ul {margin-top: 2px; margin-bottom: 2px;}
.avn_selectList { margin: 3px; padding: 0.4em; padding-left: 30px;font-size: 1em;  }

.avn_disabled {
	color: grey;
}

/* overwriting some jquery ui defaults */

.ui-dialog-title {
	font-size: 0.8em;
}
.ui-button-text {
	font-size: 0.8em;
}

.olControlButtonItemActive {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    width: 22px;
    height: 22px;
}

/*
.clickbar {
	top: 30px;
	right: 20px;
	border: 1px solid black;
	border-radius: 3px;
	background: white;
	padding-left: 4px;
	padding-right: 4px;
	font: 10px monospace;
	cursor: pointer;
}

.olControlMousePosition {
	position: absolute;
	right: 10px;
	top: 0px;
	height: 15px;
	font-size: 8pt;
	background-color: white
}

#utm_mouse {
	top: 15px;
}
*/



.olImageLoadError {
	background-color: transparent !important;
}
