html,body {
	
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Verdana,Arial,sans-serif;
	font-size: 0.8em;
}

.avn_panel{
	position: absolute;
	overflow: hidden;
}

.avn_leftPanel{

}
.avn_leftTop{
	
	background-color: #1602FC;
	text-align: center;
}

.avn_leftTop .avn_label {
	color: white;
}
.avn_leftBottom{
	
	background-color: #AAADB8;
	text-align: center;
}

.avn_map{
	border: 1px solid black;
	
}

.avn_rightPanel{
	
	background-color: #6D6D6D;
}

.avn_inner{
	display: inline-block;
}

.avn_position{

border-color: black;
border-style: solid;
border-width: 1px;
background-color: white;
font-size: 22px;
}

button.avn_button{
	width: 50px;
	height: 50px;
	margin: 3px 3px 3px 3px;
}

button.avn_toggleButton{
	width: 50px;
	height: 50px;
	margin: 3px 3px 3px 3px;
}

button.avn_buttonActive{
	border: 4px solid #1DB81D;
}

button.avn_buttonActiveError{
	border: 4px solid #EC420C;
}

button.avn_buttonInactive{
	border: 4px solid #E6E6E6;
}

#btnLockPos .ui-icon {
	background-image: url(images/Sail-Boat-40.png);
	background-position: 0px 0px;
	width: 40px;
	height: 40px;
	left: 10px;
	top: 10px;
	margin-top: 0px;
	margin-left: 0px;
	background-size: 20px 20px;
}

#btnLockMarker .ui-icon{
	background-image: url(images/Marker1.png);
	background-position: 0px 0px;
	width: 40px;
	height: 40px;
	left: 10px;
	top: 10px;
	margin-top: 0px;
	margin-left: 0px;
	background-size: 20px 20px;
}

#btnLayerSwitch .ui-icon{
	background-image: url(images/Layer40.png);
	background-position: 0px 0px;
	width: 40px;
	height: 40px;
	left: 12px;
	top: 12px;
	margin-top: 0px;
	margin-left: 0px;
	background-size: 24px 24px;
}

#btnNavCancel .ui-icon{
	background-image: url(images/Cancel40.png);
	background-position: 0px 0px;
	width: 40px;
	height: 40px;
	left: 12px;
	top: 12px;
	margin-top: 0px;
	margin-left: 0px;
	background-size: 24px 24px;
}
#btnAISCancel .ui-icon{
	background-image: url(images/Cancel40.png);
	background-position: 0px 0px;
	width: 40px;
	height: 40px;
	left: 12px;
	top: 12px;
	margin-top: 0px;
	margin-left: 0px;
	background-size: 24px 24px;
}
#btnAISFirst .ui-icon{
	background-image: url(images/Ais-Up-40.png);
	background-position: 0px 0px;
	width: 40px;
	height: 40px;
	left: 12px;
	top: 12px;
	margin-top: 0px;
	margin-left: 0px;
	background-size: 24px 24px;
}

#btnStatusCancel .ui-icon{
	background-image: url(images/Cancel40.png);
	background-position: 0px 0px;
	width: 40px;
	height: 40px;
	left: 12px;
	top: 12px;
	margin-top: 0px;
	margin-left: 0px;
	background-size: 24px 24px;
}

.avn_selectList	.ui-selecting { background: #1E6CCF;}
.avn_selectList	.ui-selected:not(.ui-disabled) { background: #1E6CCF; color: white;}
.avn_selectList	.ui-selected.ui-disabled { background: #9BB2D0; color: grey;}
.avn_selectList	.ui-disabled { color: grey;}
.avn_selectList { list-style-type: none; margin: 0; padding: 0; }
.avn_selectList ul {margin-top: 2px; margin-bottom: 2px;}
.avn_selectList { 
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 25px; /*for scrolling on tablet*/
	padding: 0.4em; 
	padding-left: 10px;
	font-size: 24px; 
	}

.avn_disabled {
	color: grey;
}

.avn_label{
	padding-left: 3px;
	padding-right: 3px;
}

#leftBottomInnerMainpage .avn_label{
	-webkit-margin-before: 0.5em;
}
.avn_position{
	padding-left: 5px;
	padding-right: 5px;
}

.avn_hidden{
	display:none;
}

.avn_dialog .ui-dialog-content{
	overflow: auto !important;
}

.avn_ais_infotable{
	display: table;
	margin-left: 3px;
	margin-right: 3px;
	line-height: 22px;
	font-size: 20px;
}
.avn_ais{
	display: table-row;
		
}
.avn_aisparam{
	display: table-cell;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-top: 2px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	
}
.avn_ais_info_first{
	background-color: #2AB42A !important;
}
.avn_ais_selected{
	background-color: grey;
}

.avn_ais_warning{
	background-color: red;
}
.avn_ais_info_warning{
	background-color: red !important;
}

.avn_status{
	border-top: 1px solid #000;
	margin-left: 10px;
	margin-top: 5px;
	line-height: 20px;
}
.avn_child_status{
	margin-left: 20px;
	margin-top: 3px;
}
.avn_child_status img{
	width: 20px;
	height: 20px;
}
.avn_status_name{
	padding-left: 3px;
}
.avn_status_info{
	padding-left: 3px;
}
#status_content_inner h1{
	margin-left: 10px;
}

#status_content_inner{
	overflow: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
/*-------------------------------------------------------------------------------
    main page
  -------------------------------------------------------------------------------
*/

.avnav_select_item{
	float: left;
	margin: 20px 20px 20px 20px;
	padding: 10px 10px 10px 10px;
	background-color: grey;
	color: white;
	width: 60px;
	text-align: center;
	border-radius: 8px;
}
.avnav_select_item img{
	margin-bottom: 10px;
	border-radius: 8px;
}

#main_content{
	overflow: auto;
}
#main_content_inner{
	display: table;
	width: 100%;
	height: 100%;
}
#vertical_aligner{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#allSelections{
	display: inline-block;
}

#aisPageContent{
	overflow: auto;
	top:0;
	bottom:0;
	left:0;
	right: 0;
	
}

/*------------------------------------------------------------------------------- 
	element positioning
  -------------------------------------------------------------------------------
	1. left panel */
#leftPanel{
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 60px;      
	overflow: hidden;
}
  
/*
    2. left top
*/

#leftTop{
	left: 0px;
	top: 0px;
	right: 0px;
	height: 24px;
}
.avn_top_content{
	float: left;
	line-height: 22px;
}


/*
	3. map
*/

.avn_main{
	top: 24px;
	bottom: 24px;
	left: 0px;
	right: 0px;
	
}
    

/*
	4. bottom line  - see .avn_leftBottom
*/

/* 
    if AIS is visible - add a second bottom line above the bottom line
    visibility and changing avn_main bottom will be handled by java script 
*/
#aisInfo{
	bottom: 24px;
	height: 28px;
	left:	0px;
	right:	0px;
	background-color: #EBEB55;
	text-align: center;
}
#aisInfoInner{
	margin-top: 2px;
}
   
#leftBottom{
	
   	bottom: 0px;
	height: 24px;
	left: 0px;
	right: 0px;
}

.avn_bottom_content{
	float: left;
	line-height: 22px; /*has 1 px border */
}

/*
	5. right panel
*/

#rightPanel{
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 60px;
}

.avn_status_image{
	width: 24px;
	height: 24px;
}

/*------------------------------------------------------------------------------- 
	end element positioning
  -------------------------------------------------------------------------------*/
/* overwriting some jquery ui defaults */

.ui-dialog-title {
	/*font-size: 0.8em;*/
}
.ui-button-text {
	/*font-size: 0.8em;*/
}

.olControlButtonItemActive {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    width: 22px;
    height: 22px;
}

/*
.clickbar {
	top: 30px;
	right: 20px;
	border: 1px solid black;
	border-radius: 3px;
	background: white;
	padding-left: 4px;
	padding-right: 4px;
	font: 10px monospace;
	cursor: pointer;
}

.olControlMousePosition {
	position: absolute;
	right: 10px;
	top: 0px;
	height: 15px;
	font-size: 8pt;
	background-color: white
}

#utm_mouse {
	top: 15px;
}
*/



.olImageLoadError {
	background-color: transparent !important;
}

.ui-dialog{
	z-index:9999;
}
