<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.wellenvogel.avnav.main"
    android:versionCode="1000"
    android:versionName="1.0.0">

    <!-- make bluetooth optional -->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- xwalkold only -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/sailboatr"
        android:theme="@style/AppTheme"
        android:label="${label}"
        android:usesCleartextTraffic="true">
        <activity

            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"
            android:label="${label}"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Info"
            android:label="Info"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Dummy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".UsbReceiver"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/usb_device_filter" />
        </activity>
        <activity android:name=".RouteReceiver"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*"
                    android:host="*"
                    android:pathPattern=".*\\.gpx"
                    />

            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" android:scheme="file"
                    android:host="*"
                    android:pathPattern=".*\\.gpx"
                    />
                <data android:mimeType="*/*" android:scheme="content"
                    android:host="*"
                    android:pathPattern=".*\\.gpx"/>

            </intent-filter>
        </activity>
        <activity
            android:name="de.wellenvogel.avnav.settings.SettingsActivity"
            android:label="@string/labelSettingsActivity"
            android:theme="@style/PreferencesStyle"
            />

        <service
            android:name="de.wellenvogel.avnav.worker.GpsService"
            android:label="AvnavGps" />

        <provider
            android:name="de.wellenvogel.avnav.fileprovider.AssetsProvider"
            android:authorities="${applicationId}.assetsprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
        </provider>
        <provider
            android:name="de.wellenvogel.avnav.fileprovider.UserFileProvider"
            android:authorities="${applicationId}.userprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
        </provider>

    </application>

</manifest>
