<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.wellenvogel.avnav.main"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="14"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application android:label="@string/appName" android:icon="@drawable/c60r">
        <activity android:name="de.wellenvogel.avnav.main.AvNav"
                  android:label="@string/appName"
                  android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="WebViewActivity"
                  android:label="@string/appName"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <service android:name=".GpsService" android:label="AvnavGps"/>
    </application>
</manifest>
