[Desktop Entry]
Version=1.0
Type=Application
Name=ResetUI
Comment=
Exec=/usr/lib/avnav/raspberry/xui/FFPanel.py -d
Icon=/usr/lib/avnav/viewer/images/SailBoatRed96.png
Path=
Terminal=false
StartupNotify=false
