@topPanelHeight:00px;
@bottomPanelHeight:50px;
@aisPanelWidth:90px;
@buttonSize: 60px;
@centerDisplayHeight: 30px;
@settingsFontSize: 18px;

//hide some content

.hidemedia(@min:0px,@max:9999px){
  @media (min-width:@min) and (max-width: @max){
    display:none;
  }
}


/*-------------------------------------------------------------
   general settings
-------------------------------------------------------------*/


html,body {
	
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Verdana,Arial,sans-serif;
	font-size: 0.8em;
}

.avn_panel{
	position: absolute;
	overflow: hidden;
}



#leftTop .avn_label {
	color: white;
}
.avn_left_bottom {
	
	background-color: rgb(222, 226, 207);
	text-align: center;
}

.avn_map{
	border: 1px solid black;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
	
}

/*
  for a page that consumes the left side and is scrollable
  */
.avn_scrollable_page{
  overflow: auto;
  top:0;
  bottom:0;
  left:0;
  right: 0;
}



.avn_inner{
	display: inline-block;
}
.avn_label{
	padding-left: 3px;
	padding-right: 3px;
}

.avi_mainpage_leftbottominner .avn_label{
	-webkit-margin-before: 0.5em;
}
.avn_position{
	padding-left: 5px;
	padding-right: 5px;
}

.avn_hidden{
	display:none;
}


.avn_position{

border-color: black;
border-style: solid;
border-width: 1px;
background-color: white;
font-size: ( @topPanelHeight - 2 );
}

.avn_left_bottom .avn_position{
font-size: ( @bottomPanelHeight - 2 );
}

/*-------------------------------------------------------------
   bottom display
-------------------------------------------------------------*/
@bottomSmallFont: (( @bottomPanelHeight / 2 ) - 10 );
@bottomBigFont: ( @bottomPanelHeight  - 8 );
.bottomhideverysmall{
  .hidemedia(0px,@bottomPanelHeight*14.5);
}
.bottomhidesmall{
  .hidemedia(0px,@bottomPanelHeight*19);
}

.bottomMargins {
	margin-left: ( @bottomPanelHeight / 12 );
	margin-right: ( @bottomPanelHeight / 12 );
}
.bottomInnerMargins{
	margin-left: ( @bottomPanelHeight / 12 );
}
#leftBottomInner{
	left:0;
	right: 0;

}
#leftBottomInnerCenter{
  display:  inline-block; //this sets the text align center as inherited
  width: 100%;
}

#leftBottomMarker{
  width: 50%;
}
#leftBottomMarker #leftBottomMarkerPos{
	width: ( @bottomSmallFont * 7 );
	.bottomMargins;
	margin-top: ( @bottomSmallFont / 4 );
	.bottomhidesmall();

}
#leftBottomMarker #leftBottomMarkerEta{
	width: ( @bottomSmallFont * 5.5 );
	margin-top: ( @bottomSmallFont / 4 );
    .bottomhideverysmall();
}
#leftBottomMarker #leftBottomMarkerBearing{
	//width: ( @bottomBigFont * 5.8 );
}
#leftBottomMarker #markerPosition{
	font-size: @bottomSmallFont;
}
#leftBottomMarker #eta{
	font-size: @bottomSmallFont;
}
#leftBottomMarker #bearing{
	font-size: @bottomBigFont;
	.bottomInnerMargins;
}
#leftBottomMarker #distance{
	font-size: @bottomBigFont;
	.bottomInnerMargins;
}

#leftBottomPosition{
  width: 50%;
}

#leftBottomPosition #leftBottomPositionPos{
	width: ( @bottomSmallFont * 7 );
	margin-top: ( @bottomSmallFont / 4 );
    .bottomhidesmall();
}
#leftBottomPosition #leftBottomPositionStatus{
	width: ( @bottomSmallFont * 6 );
	margin-top: ( @bottomSmallFont / 4 );
    .bottomhideverysmall();
}
#leftBottomPosition #leftBottomPositionCourse{
	//width: ( @bottomBigFont * 5 );
  padding-left: 5px;
  padding-right: 5px;
}
#leftBottomPosition #boatPosition{
	font-size: @bottomSmallFont;

}
#leftBottomPosition #boatLocalTime{
	font-size: @bottomSmallFont;

}
#leftBottomPosition #boatCourse{
	font-size: @bottomBigFont;
	.bottomInnerMargins;
}
#leftBottomPosition #boatSpeed{
	font-size: @bottomBigFont;
	.bottomInnerMargins;
}


/*-------------------------------------------------------------
   measure display (center)
-------------------------------------------------------------*/

.avn_center {
	padding-left: 3px;
	font-size: ( @centerDisplayHeight * 0.6 );
}

#centerInner {
	text-align: center;
}

/*-------------------------------------------------------------
   buttons
-------------------------------------------------------------*/

.avn_button_base{
  width: @buttonSize;
  height: @buttonSize;
  margin: 3px 3px 3px 3px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #D3D3D3;
  background: #E6E6E6;
  position: relative;
  cursor: pointer;
  outline: none;

}
button.avn_button{
  .avn_button_base;
}

.avn_button:active{
  border: 2px solid #6B6B6B;
}

button.avn_toggleButton{
	.avn_button_base;
}

button.avn_buttonActive{
	border: 4px solid #1DB81D;
}

button.avn_buttonActiveError{
	border: 4px solid #EC420C;
}

button.avn_buttonInactive{
	border: 4px solid #E6E6E6;
}

.avn_button_icon_base(@icon,@innerWidth: ( @buttonSize * 30 / 60 ) ){
  background-image: url(@icon);
  background-position: 0px 0px;
  background-size: @innerWidth @innerWidth;
  width: @innerWidth;
  height: @innerWidth;
  top: (( @buttonSize - @innerWidth ) / 2 );
  left: (( @buttonSize - @innerWidth ) / 2 );
  position: absolute;
  text-decoration: none;
}

.avn_button_icon_base_toggle(@icon,@innerWidth: ( @buttonSize * 30 / 60 ) ){
    .avn_button_icon_base(@icon,@innerWidth);
    margin-left: -4px;
    margin-top: -4px;
}

button#avb_ShowStatus .avn_button_icon{
  .avn_button_icon_base('images/bargraph32.png');
}
button#avb_ShowSettings .avn_button_icon{
  .avn_button_icon_base('images/spanner32.png');
}
button#avb_ShowHelp .avn_button_icon{
  .avn_button_icon_base('images/Question.png');
}
button#avb_StatusCancel .avn_button_icon{
  .avn_button_icon_base('images/Cancel40.png');
}
button#avb_StatusUpdate .avn_button_icon{
  .avn_button_icon_base('images/Question.png');
}

button#avb_ZoomIn .avn_button_icon{
  .avn_button_icon_base('images/Plus40.png');
}
button#avb_ZoomOut .avn_button_icon{
  .avn_button_icon_base('images/Minus40.png');
}
button#avb_LockPos .avn_button_icon {
	.avn_button_icon_base_toggle('images/Sail-Boat-40.png');
}

button#avb_LockMarker .avn_button_icon {
  .avn_button_icon_base_toggle('images/Marker1.png');
}



button#avb_CancelNav .avn_button_icon {
  .avn_button_icon_base('images/Cancel40.png');

}

button#avb_AisCancel .avn_button_icon{
  .avn_button_icon_base('images/Cancel40.png');
}
button#avb_AisNearest .avn_button_icon {
  .avn_button_icon_base('images/Ais-Up-40.png');
}


button#avb_SettingsCancel .avn_button_icon{
  .avn_button_icon_base('images/Cancel40.png');
}
button#avb_SettingsOK .avn_button_icon{
  .avn_button_icon_base('images/check32.png');
}


/*-------------------------------------------------------------
   AIS display
-------------------------------------------------------------*/
.avn_ais_infotable{
	display: table;
	margin-left: 3px;
	margin-right: 3px;
	line-height: 22px;
	font-size: 20px;
}
.avn_ais{
	display: table-row;
		
}
.avn_aisparam{
	display: table-cell;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-top: 2px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	
}
.avn_ais_info_first{
	background-color: rgb(112, 243, 175) !important;
}
.avn_ais_selected{
	background-color: rgb(202, 213, 190);
}

.avn_ais_warning{
	background-color: rgb(250, 88, 74);
}
.avn_ais_info_warning{
	background-color: rgb(250, 88, 74) !important;
}

#avi_ais_page_inner{

}

/* AIS info box */
#aisInfoInner{
	margin-top: 2px;
	position: absolute;
	left: 0;
	right: 0;
}

.avn_ais_base(@factor: 5) {
	font-size: ( @aisPanelWidth / @factor );
	margin-bottom: 5px;
	border-bottom: 1px solid black;
	padding-left: 3px;
}

.avn_ais_data {
	.avn_ais_base(5);
}
.avn_ais_name {
	.avn_ais_base(8);
}
.avn_ais_mmsi {
	.avn_ais_base(7);
}
.avn_ais_front {
	.avn_ais_base(3);
}
#aisInfoHeadline{
	font-size: ( @aisPanelWidth / 3 );
	padding-left: 3px;
}

/*-------------------------------------------------------------
   status page
-------------------------------------------------------------*/
.avn_status{
	border-top: 1px solid #000;
	margin-left: 10px;
	margin-top: 5px;
	line-height: 20px;
}
.avn_child_status{
	margin-left: 20px;
	margin-top: 3px;
}
.avn_child_status img{
	width: 20px;
	height: 20px;
}
.avn_status_name{
	padding-left: 3px;
}
.avn_status_info{
	padding-left: 3px;
}

#avi_status_page_inner{
  padding-left: 8px;
}

/*-------------------------------------------------------------------------------
    settings page
  -------------------------------------------------------------------------------
*/

#avi_settings_page_inner{
  padding-left: 8px;
}

.avn_setting{
  float: left;
  font-size: @settingsFontSize;
  padding-left: ( @settingsFontSize * 10 / 16);
  padding-right: ( @settingsFontSize * 10 / 16);
  padding-bottom: 6px;
}
.avn_settings_group{
  background-color: #6D6D6D;
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 8px;
  margin-right: 5px;
  color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.avn_clear{
  clear: both;
}

.avn_settings_line{
  margin-bottom: 8px;
}

/*-------------------------------------------------------------------------------
    main page
  -------------------------------------------------------------------------------
*/

.avn_mainpage_select_item {
	cursor: pointer;
	float: left;
	margin: 20px 20px 20px 20px;
	padding: 10px 10px 10px 10px;
	background-color: grey;
	color: white;
	width: 60px;
    height: 100px;
	text-align: center;
	border-radius: 8px;
}
.avn_mainpage_select_item img{
	margin-bottom: 10px;
	border-radius: 8px;
}


#avi_mainpage_inner_content {
	display: table;
	width: 100%;
	height: 100%;
}
.avn_vertical_aligner{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#avi_mainpage_selections {
	display: inline-block;
}

/*------------------------------------------------------------------------------- 
	element positioning
  -------------------------------------------------------------------------------
	1. left panel */
.avn_left_panel{
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: (@buttonSize + 10 );      
	overflow: hidden;
}
  
/*
    2. left top
*/

.avn_left_top{
	left: 0px;
	top: 0px;
	right: 0px;
	height: @topPanelHeight;
    background-color: #1602FC;
    text-align: center;
}
.avn_top_content{
	float: left;
	line-height: ( @topPanelHeight - 2 );
}


/*
	3. map
*/

.avn_main{
	top: @topPanelHeight;
	bottom: @bottomPanelHeight;
	left: 0px;
	right: 0px;
	
}
    
  
/*
	4. bottom line  - see .avn_leftBottom
*/
.avn_left_bottom{
	
   	bottom: 0px;
	height: @bottomPanelHeight;
	left: 0px;
	right: 0px;
}

/*
        5. additional panels
	   correcting the .avn_main position is done by javascript
*/

#aisInfo{
	bottom: 0px;
	top: 0px;
	left:	0px;
	width:	@aisPanelWidth;
	background-color: #EBEB55;
}

#centerDisplay{
	bottom: @bottomPanelHeight;
	height: @centerDisplayHeight;
	left:	0;
	right:	0;
	background-color: rgb(228, 228, 180);
}

 
.avn_float_left{
	float: left;
}
.avn_float_right{
	float: right;
}

/*
	5. right panel
*/

.avn_right_panel{
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: ( @buttonSize + 10 );
    background-color: #6D6D6D;
}

.avn_status_image{
	width: 24px;
	height: 24px;
}

