@import "flexbox.less";
@import "defines.less";



*{
  .border-box();
}
//have the border inside
.border-box{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.flexbox() {
  .flex-display();
  /*display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;*/
}
/*
.flex(@values) {
  -webkit-box-flex: @values;
  -moz-box-flex:  @values;
  -webkit-flex:  @values;
  -ms-flex:  @values;
  flex:  @values;
}
*/



/*-------------------------------------------------------------
   night stuff
   night mode is activated by adding .nightMode to the body
-------------------------------------------------------------*/

/*-------------------------------------------------------------
   shadows and similar
-------------------------------------------------------------*/




.mdInput{
  outline: none;
  border: none;
  border-bottom: 1px solid;
  .nightBorderColorGR();
}


.mdLabel {
  .mdText2();
}

.mdCard1{
  .mdShadow1();
  padding: 1em;
}

/* some settings for pages that have lists */

.avm_listpage {
  background-color: white;
  .nightColors();
}

.avm_listhead{
  padding: 0.5em;
  border-bottom: 1px solid;
  .nightBorderColorGR();
}

.avm_listcontainer {
  position: absolute;
  left: 0;
  right: 0;
  overflow: auto;
  bottom: 0;
  top:0;
}
.avm_list_entry{
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid;
  padding: 1em;
  .nightBorderColorGR(30);
  .flex-display();
}
.avm_listEntryItem{
  display: block;
  margin-bottom: auto;
  margin-top: auto;
  overflow: hidden;
}

.fwidth(@w){
  width: @w;
  min-width: @w;
}

.fheight(@h){
  height: @h;
  min-height: @h;
}

.avn_list_entry{
  .avm_list_entry();
}


/*-------------------------------------------------------------
   buttons
-------------------------------------------------------------*/
.avn_buttonBase(){
  margin: 0.2em 0.2em 0.2em 0.2em;
  border-top-right-radius: 0.3em;
  border-top-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  border: 1px solid;
  .nightBorderFade(#D3D3D3);
  .nightBackFade(#E6E6E6);
  //position: relative;
  cursor: pointer;
  outline: none;

}
.avn_AllButtons(){
  .avn_buttonBase();
  background-position: center center;
  background-size: 80% 80%;
  background-repeat: no-repeat;
  text-decoration: none;
  border: 1px solid;
  .nightBorderFade(#D3D3D3);
  display: block;
  cursor: pointer;
  outline: none;
}
.avn_button{
  .avn_AllButtons();
  width: 4em;
  height: 4em;
  font-size: @normalButtonFont;
}
.avn_smallButton{
  .avn_AllButtons();
  .fwidth(2em);
  .fheight(2em);
  font-size: 1rem; //base this on the body font size
}


.avn_buttonActive{
  border: 0.3em solid ;
  .nightBorderFade(@colorGreen);
}

.avn_buttonActiveError{
  border: 0.3em solid ;
  .nightBorderFade(@colorRed);
}


.avn_iconButton(@icon){
  background-image: url(@icon);
}

button.avb_Cancel {
  .avn_iconButton('images/icons-new/ic_clear.svg');
}

button.avb_Ok {
  .avn_iconButton('images/icons-new/ic_done.svg');

}
button.avb_Forward {
  .avn_iconButton('images/icons-new/ic_arrow_forward.svg');
}
button.avb_Back {
  .avn_iconButton('images/icons-new/ic_arrow_back.svg');
}
button.avb_Edit {
  .avn_iconButton('images/icons-new/ic_edit.svg');
}
/*-------------------------------------------------------------
   checkbox
-------------------------------------------------------------*/
.avnCheckbox{
  display: inline-block;
  width:  1.8em;
  height: 1.8em;
  background-image: url('images/icons-new/checkbox-blank-outline.svg');
  background-repeat: no-repeat;
  background-size: cover;
  &.checked{
    background-image: url('images/icons-new/checkbox-marked-outline.svg');
  }
}
//for multiple checkboxes in one row
.avnCheckBoxItem{
  display: inline-block;
  .avn_label{
    display: inline-block;
    margin-left: 1em;
    .mdText2();
    font-size: 0.9em;
  }
  .avnCheckbox{
    vertical-align: middle;
    margin-left: 0.5em;
  }
}


/*-------------------------------------------------------------
   general settings
-------------------------------------------------------------*/

input {
  border: 2px inset;
  .nightBackColor(inherit,#646463)
}
html,body {
	.nightColors();
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Verdana,Arial,sans-serif;
	font-size: 14px;
  .border-box();
}

.avn_panel{
	position: absolute;
	overflow: hidden;
}
.avn_panel_fill{
  position: absolute;
  overflow: hidden;
  top:0;
  left:0;
  right:0;
  bottom: 0;
}

.avn_panel_fill_flex{
  .avn_panel_fill();
  .flex-display();
  .flex-direction(column);
}

.avn_left_top{
  height: @headlineHeight;
  padding: 1em;
  .nightBackFade(@colorMain);
  .nightForeColor(white,@nightColor);
  font-weight: bold;
  .flex-shrink(0);

}
.avn_left_top div, .avn_left_top span{
  font-size: 1.2em;
}
.avn_left_top.avn_active_headline{
  .nightBackFade(@colorRed);
}

.avn_flexRow{
  .flex-display();
  .flex-direction();
}
.avn_flexColumn{
  .flex-display();
  .flex-direction(column);
}



.avn_flexFill{
  .flex(1);
  position: relative;
}


/*
  for a page that consumes the left side and is scrollable
  */
.avn_scrollable_page{
  overflow: auto;
  top:0;
  bottom:0;
  left:0;
  right: 0;
}



.avn_inner{
	display: inline-block;
}




.avn_hidden{
	display:none;
}

.avn_unit{
  font-size:0.7em;
  opacity: 0.6;
  margin-left: 0.2em;
}

.avn_table{
  display: table;
  border-collapse: collapse;
}
.avn_row{
  display: table-row;
}

.avn_more {
  display: none;
  float: right;
  width: 1em;
  height: 1em;
  background-image: url('images/icons-new/ic_chevron_right.svg');
  background-size: 100% 100%;
  opacity: 0.6;
}

/*-------------------------------------------------------------
   widgets
-------------------------------------------------------------*/
@bottomBaseFont: 0.71em;
@bottomSmallFont: 1em;
@bottomBigFont: 3em;
@leftWidgetFont: 1.7em;
@bottomBigFontDouble: ( 1.8 * @bottomBigFont);
@gpsMiddleFont: 2em;

@verticalWidgetHeight: 3.8em;
@verticalContainerHeight: 4em;
@verticalContainerDoubleHeight: 7.9em;

.avn_widget{
  position: relative;
  z-index: 100;
  padding: 0.3em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2); /* z1 shadow */
  .border-box();
  overflow: hidden;
  pointer-events: all;
  background: white;
  .nightColors();
  .flex-shrink(0);
  .flex-grow(1);
  margin-bottom: 0.1em;
  margin-top: 0.1em;
  margin-left: 0.1em;
  margin-right: 0.1em;
}

.avn_widgetContainer{
  font-size: @widgetFontSize;
  .flex-display();
  .flex-wrap(wrap);
}
.avn_widgetContainer_vertical{
  .avn_widgetContainer();
  max-height: @verticalContainerHeight;
  &.two_rows{
    max-height: @verticalContainerDoubleHeight;
  }
}

.avn_widgetInfo{
  font-size: @bottomBaseFont;
  position: absolute;
  top: 0;
  opacity: 0.7;
}


.avn_widgetInfoRight{
  .avn_widgetInfo();
  right: 0.2em;
}
.avn_widgetInfoLeft{
  .avn_widgetInfo();
  left: 0.2em;
}

.avn_average .avn_widgetInfoLeft{
  .nightForeColor(red);
}

.avn_posWidget{
  width: 7.5em;
  .avn_widgetData{
    font-size: @bottomSmallFont;
    margin-top: 0.55em;
    text-align: center;
  }
}
.avn_gpsp_hfield .avn_posWidget{
  .avn_widgetData{
    text-align: right;
  }
}
.avn_courseWidget{
  .avn_largeWidget();
}

.avn_largeWidget{
  width: 7.2em;
  .avn_widgetData{
    font-size: @bottomBigFont;
    text-align: right;
    padding-right: 0.1em;
  }
  .avn_gpsp_hfield &{
    .flex-display();
    .flex-direction(row);
    .flex-justify-content(flex-end);
    .flex-align-items(center);
    .avn_widgetData{
      margin-top: 0;
      display: inline-block;
    }
  }
  &.avn_doubleHeight .avn_widgetData{
    font-size: @bottomBigFontDouble;
  }
}

.avn_smallWidget{
  width: 7.2em;
  .avn_widgetData{
    font-size: @bottomSmallFont;
    margin-top: 0.55em;
    text-align: right;
    padding-right: 0.1em;
  }
  .avn_gpsp_hfield &{
    .flex-display();
    .flex-direction(row);
    .flex-justify-content(flex-end);
    .flex-align-items(center);
    .avn_widgetData{
      margin-top: 0;
      display: inline-block;
      font-size: @gpsMiddleFont;
    }
    .avn_doubleHeight{
      .flex-grow(2); //the default is 1
    }
  }
  &.avn_doubleHeight .avn_widgetData{
    font-size: @bottomBigFont;
  }
}
.avn_distanceWidget{
  .avn_largeWidget();
  width: 9.6em;
}

.avn_speedWidget{
  .avn_largeWidget();
  width: 9.6em;
}
.avn_etaWidget{
  .avn_smallWidget();
  width: 6.5em;
  .avn_widgetData{
    text-align: center;
  }
  .avn_markerName {
    margin-top: 0.15em;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
  }
  .avn_gpsp_hfield &{
    .avn_widgetData{
      font-size: 0.75 * @gpsMiddleFont;
    }
  }
}

.avn_timeStatusWidget{
  .avn_smallWidget();
  width: 6.5em;
  .avn_boatPositionStatus{
    width: 1.8em;
    height: 1.8em;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .avn_widgetData{
    text-align: center;
  }
  .avn_gpsp_hfield &{
    .avn_boatPositionStatus{

    }
    .avn_widgetData{
      font-size: 2 * @bottomSmallFont;

    }
  }

}



.avn_timeWidget{
  .avn_widgetData{
    font-size: 2.6em;
  }
}

.avn_activeRouteWidget{
  text-align: end;
  .avn_routeName{
    margin-top: 0.8em;
    margin-right: 0.2em;
    .mdText2();
    overflow: hidden;
    white-space: nowrap;
  }
  .avn_routeRemain{
    font-size: 1.5em;
  }

}

.avn_aisTargetWidget{
  .avn_smallWidget();
  .avn_ais_front{
    font-size: 1.5em;
    display: inline-block;
  }
  > .avn_widgetData{
    margin-top:0.8em;
  }
  > .avn_widgetData ~ .avn_widgetData{
    margin-top: 0;
  }
  .avn_widgetData{
    overflow: hidden;
    white-space: nowrap;
  }
  .avn_label{
    margin-right: 0.2em;
  }
  .avn_topRightWidgets & .avn_widgetData{
    margin-top: 0;
  }
  .avn_gpsp_hfield & .avn_widgetData{
    font-size: @bottomSmallFont;
    .avn_ais_front{
      font-size: 1em;
    }
  }

}

.avn_centerWidget{
  .avn_centerPosition{
    max-width: 6.5em;
    margin-top:1em;
  }
  .avn_widgetDataFirst{
    margin-top: 0.8em;
  }
  .avn_label{
    display: table-cell;
    opacity: 0.6;
    margin-right: 0.2em;
  }
  .avn_center_value{
    display: table-cell;
    text-align: right;
    white-space: nowrap;
  }
  .avn_boat{
    background-image: url(images/icons-new/boat.svg);
    background-size: 1em 1em;
    background-repeat: no-repeat;
    width: 1.5em;
  }
  .avn_marker{
    background-image: url(images/icons-new/waypoint.svg);
    background-size: 1em 1em;
    background-repeat: no-repeat;
    width: 1.5em;
  }

}

.avn_editingRouteWidget{

  .avn_routeName{
    opacity: 0.6;
    display: inline-block;
    max-width: 6.7em;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 0.8em;
  }
  &.avn_activeRoute{
    border: 3px solid;
    .nightBorderFade(@colorRed);
    .nightOPacity();
  }
  &.avn_otherRoute{
    border: 3px solid ;
    .nightBorderFade(@colorGreen);
    .nightOPacity();
  }
  .avn_route_label{
    padding-left: 0;
    opacity: 0.6;
  }
  .avn_routeInfoLine{
    margin-bottom: 0.3em;
  }

}

.avn_zoomWidget .avn_widgetData {
  .avn_smallWidget();
  width: inherit;
  font-size: @leftWidgetFont;
  text-align: center;
  padding-top: 0.3em;
  .avn_rzoom{
    display: inline-block;
  }
}

.avn_alarmWidget{
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3em;
  font-size: 1.5em;
  .nightBackFade(@colorRed);
  padding: 1.5em;
  padding-top: 1em;
  margin: 0.5em;
  border-radius: 4px;
  .mdShadow2();
}

.avn_windWidget {
  .avn_smallWidget();
  .avn_windInner {
    position: relative;
    height: ( @leftWidgetFont * 1.1)
  }
  .avn_widgetData{
    font-size: @leftWidgetFont;
    text-align: center;
  }
}

.avn_depthWidget {
  .avn_smallWidget();
  .avn_widgetData{
    font-size: @leftWidgetFont;
    text-align: center;
  }
}

.avn_xteWidget{
  canvas{
    width: 90%;
    height: 90%;
  }
}
.avn_WindGraphics {
  canvas{
    width: 98%;
    height: 98%;
  }
  .avn_windSpeed {
    position: absolute;
    right: 0.2em;
    bottom: 0;
    font-size: 1.5em;
  }
}

.avn_combinedWidget{
  padding: 0 !important;
  margin: 0 !important;
  .flex-display();
  .flex-direction(row);
}

/*-------------------------------------------------------------
    some classes for info pages
--------------------------------------------------------------*/
.avn_infopage_inner {
  width: 100%;
  margin: auto;
}

.avn_infopage_inner .avn_Status{
  background-color: inherit;
  width: 1.5em;
  height: 1.5em;
  border-radius: 3px;
  text-align: right;
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: text-bottom;
}

.avn_infopage_inner h1{
  text-align: center;
}
.avn_infopage_inner .avn_table {
  width: 100%;
  pointer-events: none;
}

.avn_infopage_inner .avn_label{
  display: table-cell;
  text-align: right;
  padding-right: 1em;
  opacity: 0.6;
  padding-bottom: 0.7em;
  width: 50%;
}
.avn_infopage_inner .avn_data{
  display: table-cell;
  border-bottom: inherit;
  font-size: 1em;
  width: 50%;
}
.avn_infopage_inner .avn_unit{
  margin-left: 0.3em;
}

.avn_link{
  display: inline-block;
  padding: 1em;
  text-decoration: underline;
}
.avn_linkWrapper{
  margin: 1em;
  .flex-shrink(0);
}

/*-------------------------------------------------------------
  nav page
  ------------------------------------------------------------*/
#avi_navpage .avn_left_top{
  display: none;
}

#avi_navpage .avn_topRightWidgets{
  width: 100%;
  .flex-direction(row);
  height: 4.3em;
  overflow: hidden;
  .avn_widget{
    height: 4em;
    width: 8em;
  }
  .avn_zoomWidget{
    width: 3em;
  }
  .avn_zoomWidget .avn_widgetData{
    margin-top: 0.7em;
    font-size: 1.2em;
    padding-left: 0;
  }
  .nightBackFade(@colorMain);
  position: absolute;
  right: 0;
  z-index: 3;
  .avn_editingRouteWidget{
    .avn_routeInfoLine{
      display: inline-block;
      margin-left: 0.3em;
      margin-right: 0.3em;
    }
    .avn_routeName{
      margin-top: 0;
      margin-left: 2em;
      display: block;
      overflow: hidden;
      max-width: inherit;
    }
  }
}


/*-------------------------------------------------------------
   bottom display
-------------------------------------------------------------*/

.avn_nav_bottom{
  z-index: 3;
  background-color: @colorMain;
  .nightColors();
  .flex-display();
  .flex-direction(row);
  position: relative; //necessary to make z-index working on old webkit AppleWebKit/536.2
}

.avn_nav_bottom .avn_widget{
  height: @verticalWidgetHeight;
  margin-right: 0;
  margin-left: 0.2em;
}

.avn_nav_bottom .leftBottomMarker{
  width: 50%;
  position: relative;
  .flex-direction(row-reverse);
}

.avn_nav_bottom .leftBottomPosition{
  width: 50%;
  position: relative;
 .flex-direction(row);
}



/*-------------------------------------------------------------
   route info
-------------------------------------------------------------*/


.avn_routeDisplay{
  top: 0px;
  left:0px;
  bottom: 0px;
  width: 8.7em;
  z-index: 100;
  .flex-display();
  .flex-direction(column);
  .nightBackFade(white);
  overflow: hidden;
  .avn_listContainer{
    .flex(1);
    overflow-x: hidden;
    overflow-y: auto;
  }
  position: absolute;
  .avn_editingRouteWidget{
    .flex-grow(0);
  }
}



.avn_route_info_point{
  border-bottom: 1px solid;
  .nightBorderColorGR();
  padding-left: 0.1em;
  padding-right: 0.3em;
  padding-top: 0.1em;
  margin-bottom: 5px;
  padding-bottom: 0.1em;
  position: relative;
}

.avn_route_info_active_point{
    .nightBackFade(@colorSelection );
}

#avi_navpage .avn_route_info_centered .avn_more{
  display:block;
  position: absolute;
  right: 0;
  top: 0;
}


/*-------------------------------------------------------------
   left widget container
--------------------------------------------------------------*/
#avi_navpage .avn_navLeftContainer{
  position: relative;
  overflow: hidden;
  background-color: @colorMain;
  .nightColors();
  .flex-direction(column);
}

#avi_navpage .avn_leftFrame{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: @colorMain;
  .nightColors();
}


#avi_navpage .avn_navLeftContainer .avn_widget{
  width:@navLeftWidgetWidth;

}


/*-------------------------------------------------------------
   route display
-------------------------------------------------------------*/

.avn_route_display_approach{
  .nightBackFade(@routeApproachingColor) !important;

}

#avi_navpage .avn_wpbuttons{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.avn_routeBtn{
  .avn_hidden();
}
button.avb_ZoomIn {
  .avn_iconButton('images/icons-new/ic_zoom_in.svg');
}
button.avb_ZoomOut {
  .avn_iconButton('images/icons-new/ic_zoom_out.svg');
}
button.avb_LockPos  {
  .avn_iconButton('images/icons-new/boat.svg');
}

button.avb_LockMarker {
  .avn_iconButton('images/icons-new/waypoint.svg');
}

button.avb_StopNav {
  .avn_iconButton('images/icons-new/stop-nav.svg');
}
button.avb_CourseUp {
  .avn_iconButton('images/icons-new/compass.svg');
}
button.avb_ShowRoutePanel {
  .avn_iconButton('images/icons-new/route.svg');
}
button.avb_ShowGps {
  .avn_iconButton('images/icons-new/data.svg');

}
button.avb_AnchorWatch {
  .avn_iconButton('images/icons-new/anchor.svg');

}

button.avb_CancelNav {
  .avn_iconButton('images/icons-new/ic_clear.svg');

}

/*- nav page routing panel --*/
button.avb_NavAdd {
  .avn_iconButton('images/icons-new/wpplus.svg');
}
button.avb_NavDelete {
  .avn_iconButton('images/icons-new/wpminus.svg');
}
button.avb_NavToCenter {
  .avn_iconButton('images/icons-new/wpcenter.svg');
}
button.avb_NavGoto {
  .avn_iconButton('images/icons-new/wpgoto.svg');
}
button.avb_NavInvert {
  .avn_iconButton('images/icons-new/invertroute.svg');
}
button.avb_NavDeleteAll {
  .avn_iconButton('images/icons-new/ic_delete.svg');
}

button.avb_NavNext {
  .avn_iconButton('images/icons-new/nextwp.svg');
}

button.avb_WpLocate{
  .avn_iconButton('images/icons-new/center.svg');
}
button.avb_WpPrevious{
  .avn_iconButton('images/icons-new/ic_arrow_back.svg');
}
button.avb_WpNext{
  .avn_iconButton('images/icons-new/ic_arrow_forward.svg');
}

button.avb_WpGoto {
  .avn_iconButton('images/icons-new/wpgoto.svg');
}
button.avb_WpEdit {
  .avn_iconButton('images/icons-new/ic_edit.svg');
}



/*-------------------------------------------------------------
   route page
-------------------------------------------------------------*/
#avi_routepage .avn_left_panel .avn_listContainer{
  .avm_listpage();
  top: @headlineHeight;
  bottom: 0;
  left: 0;
  right: 0;
  .flex(1);
  overflow: auto;
  top: 5.3em;
}

.avn_active_route{
  .nightForeColor(@routeApproachingColor);
}
.avn_routeCurrent{
  .nightBackFade(@colorSecond);
  padding: 1em;
  padding-right: 1.5em;
  height: 5.2em;
  position: relative;
  .mdShadow1();
  .avn_routeInfo{
    .mdText2();
    margin-top: 0.7em;
  }
  .avn_more{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 1em;
    height: 2em;
    width: 2em;
  }
  .avn_routeName{
    white-space: nowrap;
    overflow: hidden;
  }


}

#avi_routepage .avn_route_info_active_point{
  .nightBackColor(rgba(0, 0, 0, 0.25));
}

.avn_route_list_entry{
  .avm_list_entry();

}
.avn_route_listinfo{
  .avm_listEntryItem();
  .mdText2();
  .flex(1);

}
.avn_route_listname{
  .avm_listEntryItem();
  .fwidth(8em);
  margin-left: 1em;
  white-space: nowrap;
  margin-right: 1em;
}
.avn_route_targetImage{
  .fheight(2.5em);
  .fwidth(2.5em);
  .avm_listEntryItem();
  background-image: url(images/icons-new/wpgoto.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: -0.5em;
  opacity: 0;
}
.avn_route_info_target .avn_route_targetImage{
  opacity: 1;
}
.avn_route_btnDelete{
  .avm_listEntryItem();
}



.avn_route_current{
  background-image: url('images/GreenBubble40.png');
}
.avn_route_active{
  background-image: url('images/RedBubble40.png');
}

button.avb_RoutePageOk{
  .avn_iconButton('images/icons-new/ic_done.svg');
}
button.avb_RoutePageCancel{
  .avn_iconButton('images/icons-new/ic_clear.svg');
}
button.avb_RoutePageDownload{
  .avn_iconButton('images/icons-new/ic_file_download.svg');
}

.avn_route_btnDelete{
  .avn_iconButton('images/icons-new/ic_delete.svg');
  vertical-align: middle;
}
.avn_route_btnLoad{
  .avn_iconButton('images/icons-new/ic_done.svg');
}



/*-------------------------------------------------------------
   download/upload page
-------------------------------------------------------------*/

#avi_downloadpage .avn_left_panel .avn_listWrapper{
  .flex-display();
  .flex-direction(row);
  .flex-justify-content(space-around);
  .avn_scrollWrapper{
    max-width:@listWidth;
    .flex(1);
    overflow-y: auto;
  }
}


.avn_download_list_entry{
  .avm_list_entry();
  padding-right: 0.8em;
  padding-left: 0.8em;
}
.avn_download_listinfo{
  .avm_listEntryItem();
  .flex(1);
}
.avn_download_listdate{
  .mdText2();
  .avm_listEntryItem();
  width: 11.5em;
}
.avn_download_active_entry .avn_download_listdate{
  margin-left: 3.7em; //room for the delete button
}

.avn_download_btnDelete{
  .avm_listEntryItem();
}

.avn_download_btnDownload{
  .avm_listEntryItem();
}
.avn_download_itemwrapper{
    .flex(1);
    padding-left: 0.8em;
    padding-right: 0.8em;
  .flex-display();
  .flex-direction(row);
  @media(max-width: 35em){
    .flex-direction(column);
  }
}


.avn_download_progress{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em 1em 1em 1em;
  background-color: lightgrey;
  .flexbox();
  .nightColors();
  & .avn_download_progress_container{
    .flex(1);
  }
  & .avn_download_progress_display {
    margin: 0.5em 0.5em 0.5em 0.5em;
    height: 2em;
    display: block;
    border: 1px solid;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
  }
  & .avn_download_progress_info{
    display: block;
    text-align: center;
  }
}






.avn_progress_bar_done{
  height: 100%;
  .nightBackColor(blue);
  width: 20%;
}

.avn_download_active_entry{
  .nightBackColor(@colorSelection);
}

.avn_download_active_entry .avn_download_btnDelete{
  visibility: hidden;
}

.avn_download_listrasimage{
  .avm_listEntryItem();
  .fwidth(2em);
  .fheight(2em);
  background-image: url(images/icons-new/plug.svg);
  background-size: contain;
  margin-right: 0.5em;
  margin-top: 0.5em;
}

button.avb_DownloadPageCancel{
  .avn_iconButton('images/icons-new/ic_clear.svg');
}
button.avb_DownloadPageUpload{
  .avn_iconButton('images/icons-new/ic_file_upload.svg');
}

button.avb_DownloadPageRoutes{
  .avn_iconButton('images/icons-new/route.svg');
}
button.avb_DownloadPageCharts{
  .avn_iconButton('images/icons-new/map2.svg');
}
button.avb_DownloadPageTracks{
  .avn_iconButton('images/icons-new/track.svg');
}
.avn_download_btnDelete{
  .avn_iconButton('images/icons-new/ic_delete.svg');
}
.avn_download_btnDownload{
  .avn_iconButton('images/icons-new/ic_file_download.svg');
}

button.avb_DownloadPageUploadCancel{
  .avn_iconButton('images/icons-new/ic_clear.svg');
}



/*-------------------------------------------------------------
   AIS display
-------------------------------------------------------------*/

.avn_aisSummary {
  .nightBackFade(@colorSecond);
  padding-top: 0.5em;
  padding-left: 1em;
  padding-bottom: 0.5em;
  span{
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;
  }
  .avn_aisWarning{
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    margin-right: 1em;
    vertical-align: middle;
  }
}

.avn_aisList{
  .flex(1);
}

.avn_aisItemFB{
  width:4em;
  min-width: 4em;
}
.avn_fb1{
  font-size: 2.5em;
  font-weight: bold;
}
.avn_aisData{
  padding-left: 1em;
  padding-right: 1em;
  .avn_infoLine{
    margin-bottom: 0.2em;
  }
}
.avn_aisData1{
  font-weight: bold;
  margin-bottom: 0.2em;
}

.avn_aisLabel{
  .mdText2();
  display: inline-block;
  width: 2em;
}
.avn_aisListItem{
  .avm_list_entry();
  .flex-display();
}

.avn_aisInfoElement{
  white-space: nowrap;
  display: inline-block;
}

.avn_aisListItem.avn_selectedItem{
  .nightBackFade(@colorSelection );
}



button.avb_AisCancel{
  .avn_iconButton('images/icons-new/ic_clear.svg');
}
button.avb_AisNearest {
  .avn_iconButton('images/icons-new/ais-nearest.svg');
}
button.avb_AisSort {
  .avn_iconButton('images/icons-new/sort.svg');
}
/*-------------------------------------------------------------
   ais info page
-------------------------------------------------------------*/
#avi_aisinfopage .avn_infopage_inner {
  max-width: 60em;
}

#avi_aisinfopage .avn_table{
  font-size: 1.2em;
  margin-top: 0.5em;
}

#avi_aisinfopage .avn_listWrapper{
  .flex(1);
}

#avi_aisinfopage .avn_Status{
  left: 3em;
  top: ( 2em + @headlineHeight)  ;
  position: absolute;
  width: 1.5em;
  height:inherit;
}

button.avb_AisInfoNearest {
  .avn_iconButton('images/icons-new/ais-nearest.svg');
}
button.avb_AisInfoLocate {
  .avn_iconButton('images/icons-new/center.svg');
}
button.avb_AisInfoList {
  .avn_iconButton('images/icons-new/ic_list.svg');
}

/*-------------------------------------------------------------
   aispage
-------------------------------------------------------------*/
#avi_aispage .avn_listWrapper{
  .flex(1);
}

/*-------------------------------------------------------------
   status page
-------------------------------------------------------------*/
#avi_statuspage {
  .avn_status {
    border-top: 1px solid;
    .nightBorderColorGR();
    padding-left: 1em;
    margin-top: 5px;
    line-height: 2em;
  }
  .avn_child_status {
    padding-left: 1.5em;
    margin-top: 3px;
    .mdText2();
  }
  .avn_child_status img {
    width: 1em;
    height: 1em;
    margin-left: -1em;
  }
  .avn_status_name {
    padding-left: 3px;
  }
  .avn_status_info {
    padding-left: 3px;
    word-wrap: break-word;
  }
  .avn_serverError{
    .nightBackFade(@colorRed);
  }
}

.avn_listWrapper {
  overflow-y: auto;
  overflow-x: hidden;

}

.avn_listWrapper .avn_listContainer {
  overflow-y: hidden;
  overflow-x: hidden;
  .flex(1);
}






button.avb_StatusCancel {
  .avn_iconButton('images/icons-new/ic_clear.svg');
}
button.avb_StatusWpa {
  .avn_iconButton('images/icons-new/ic_rss_feed.svg');
}
button.avb_StatusAndroid{
  .avn_iconButton('images/icons-new/ic_android.svg');
}
button.avb_StatusAddresses{
  .avn_iconButton('images/icons-new/qrcode.svg');
}
button.avb_StatusShutdown{
  .avn_iconButton('images/icons-new/ic_power.svg');
}

/*-------------------------------------------------------------
   address page
-------------------------------------------------------------*/

#avi_addresspage {

  .avn_url {
    margin-bottom: 1em;
    font-size: 1.2em;
  }
  .avn_address {
    .nightBorderColorGR();
    border-bottom: 1px solid;
    padding: 2em;
  }
}

/*-------------------------------------------------------------
   wpa page
-------------------------------------------------------------*/



.avn_wpa_interface{
  font-size: 1.2em;
  margin-top: 0.5em;
}
.avn_wpa_interface_detail{
  font-size: 0.8em;
  .mdText2();
  margin-top: 0.2em;
}
#avi_wpapage .avn_left_panel .avn_listContainer {
  padding: 0;
  margin-top: 0.5em;
}

.avn_wpa_item{
  list-style: none;
  font-size: 1em;
  line-height: 2em;
  border-bottom: 1px solid;
  .nightBorderColorGR();
  padding-bottom: 0.4em;
  padding-top: 0.4em;
  padding-left: 1em;
}
.avn_wpa_ssid{
  margin-right: 2em;
  font-size: 1.2em;
}
.avn_wpa_item_detail{
  margin-right: 1em;
  display: inline-block ;
  .mdText2();
}

.avn_wpa_active_item{
  background-color: rgba(169, 169, 169, 0.24);
  .nightColors();
}

.avn_dialog{
  padding: 1em;
  background-color: white;
  border-radius: 3px;
  .nightColors();
  font-size: 1.3em;
}
.avn_dialog input{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: none;
  border-bottom: 1px solid;
  .nightBorderColorGR();
}

.avn_dialog label{
  .mdText2();
}

.avn_dialog button{
  .avn_buttonBase();
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: @normalButtonFont;
  padding: 1em;
  width: inherit;
  .nightColors();
  background-color: rgba(255, 255, 255, 0.0);
  border: none;
  .nightForeColor(@colorMain,@nightColor);
}

.avi_wpa_dialog button[name=cancel]{
  float: right;
}
.avi_wpa_dialog button[name=connect]{
  float: right;
}
.avi_wpa_dialog button[name=disable]{
  float: right;
}
.avi_wpa_dialog button[name=remove]{
  float: left;
}

.avi_wpa_dialog{
  label{
    display: block !important;
    text-align: left !important;
  }
  .avnCheckbox{
    vertical-align: middle;
  }
}
.avi_wpa_password{
  width: 28em;
  max-width: 90%;
}




button.avb_WpaCancel {
  .avn_iconButton('images/icons-new/ic_clear.svg');
}



/*-------------------------------------------------------------
   gps page
-------------------------------------------------------------*/
#avi_gpspage .avn_left_top{
  display: none;
}
#avi_gps_page_inner{
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

}
#avi_gps_page_left{
  .border-box();
  float:left;
  width: 50%;
  height: 100%;
  border-right: 1px solid;

}
#avi_gps_page_right{
  float:left;
  width: 50%;
  height: 100%;
}

.avn_gpsp_hfield .avn_widgetContainer {
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  padding: 0;
  margin: 0;
  .avn_widgetInfoLeft {
    left: 0;
    padding-left: 8px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    .nightBackFade(#E2DFDF);
    width: 100%;
    font-size: 0.7em;
  }
  .avn_widget{
    padding-top: 1.3em;
    margin: 0;
  }
}
.avn_gpsp_hfield .avn_widget {
  width: 100%;
}

#avi_gps_page_upper{
  .border-box();
  border: 1px solid;
  float: left;
  width: 100%;
  height: 100%;
}
.avn_gpsp_field_label{
  padding-left: 8px;
  border-bottom: 1px solid;
  border-top: 1px solid;
  .nightBackFade(#E2DFDF);
}
.avn_gpsp_value{
  padding-left: 4px;
  padding-right: 4px;
}
.avn_gpsp_unit{
  padding-left: 4px;
}
#avi_gpsp_route_dist{
  .border-box();
  width: 50%;
  height: 100%;
  float: left;
  border-right: 1px solid;
}
#avi_gpsp_route_eta{
  width: 50%;
  height: 100%;
  float: left;
}
//some hack to get the grad display a bit up
.avn_gpsp_cunit .avn_gpsp_unit{
  top: -1.7em;
  position: relative;
}

#avi_gpsp_xte{
  width: 100%;
}
#avi_gpsp_ais{
  overflow: hidden;
}
#avi_gpsp_ais_status {
  float: left;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: @colorSecond;
  margin-top: -15px;
  margin-left: 10px;
  margin-right: 10px;
  top: 15%;
  position: relative;
}
#avi_gpsp_aisframe{
  height: 100%;
}
#avi_gpsp_position{
  display: block;
}

button.avb_GpsCenter{
  .avn_iconButton('images/icons-new/center.svg');
}

button.avb_Gps2{
  .avn_iconButton('images/icons-new/ic_arrow_forward.svg');
}

/*-------------------------------------------------------------------------------
    settings page
  -------------------------------------------------------------------------------
*/



#avi_settingspage .avn_left_panel{
  .avm_listpage();
}
#avi_settingspage .avn_leftSection{
  width: 10em;
  border-right: 1px solid ;
  margin-right: 2em;
  .nightBorderColorGR();
  &.avn_expand{
    width: 100%;
  }
}
#avi_settingspage .avn_selectedItem{
  .nightBackFade(@colorSelection );
}

#avi_settingspage .avn_rightSection {
  width: auto;
  overflow: hidden;
  .flex(1);
  .avn_list_entry{
    .nightBorderColorGR(10);
  }
}
#avi_settingspage .avn_rightSection .avn_settingsLabel{
  width: 8em;
  display: inline-block;
}

#avi_settingspage .avn_rightSection .avnCheckbox{
  vertical-align: middle;
}

#avi_settingspage .avn_value{
  .avm_listEntryItem();
  margin-left: 1em;
  .mdText2();
}

#avi_settingspage .avn_description{
  .avm_listEntryItem();
}
#avi_settingspage .avn_colorSelector {
  .avn_colorValue {
    width: 1.5em;
    height: 1.5em;
    margin-left: 1em;
    .avm_listEntryItem();
  }
}
.avn_colorPicker{
  .flex-display();
  .flex-direction(row);
}
#avi_settingspage .avn_flexRow{
  height: 100%;
}

.avn_colorDialog {
  .avn_value {
    margin-top: 1em;
  }
  .avn_colorValue {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
  }
  .avn_colorFrame {
    margin-top: 1em;
  }
}

.avn_settingsDialog input {
  width: 10em !important;
}

#avi_settingspage .avn_list_entry {
  line-height: 1.5em;
  .avm_list_entry();
}

#avi_settingspage .avn_scroll {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.avn_settingsDialog button[name=reset] {
  float: left;
}

.avn_settingsDialog .avn_settingsRange {
  margin-bottom: 1em;
  font-size: 0.8em;
  .mdText2();
}


.avn_clear {
  clear: both;
}


button.avb_SettingsCancel {
  .avn_iconButton('images/icons-new/ic_clear.svg');
}

button.avb_SettingsOK {
  .avn_iconButton('images/icons-new/ic_done.svg');
}

button.avb_SettingsDefaults {
  .avn_iconButton('images/icons-new/ic_delete.svg');
}

button.avb_SettingsAndroid {
  .avn_iconButton('images/icons-new/ic_android.svg');
}

/*-------------------------------------------------------------------------------
    info page
  -------------------------------------------------------------------------------
*/
.avn_infoFrame{
  padding-left: 1em;
  padding-right: 1em;
  overflow: auto;
}
.avn_infoFrame p {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}
.avn_infoFrame h3{
  margin-top: 1em;
  margin-bottom: 0.2em;
}


/*-------------------------------------------------------------------------------
    main page
  -------------------------------------------------------------------------------
*/


.avn_mainpage_select_item {
  cursor: pointer;
  vertical-align: middle !important;
  overflow: hidden;
  width: 20em;
  height: 2em;
  display: inline-block;
  margin-right: 3em;
  padding: 1em;
  line-height: 2em;
  border-bottom: 1px solid;
  .nightBorderColorGR();
  box-sizing: content-box;
  .nightColors();
}

.avn_mainpage_select_item img {
  .nightOPacity();
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-right: 1em;
  vertical-align: middle;
}


.avn_mainpage_link {
  text-align: right;
  padding-right: 1em;
  white-space: nowrap;
  display: inline-block;
  float: right;
}

.avn_mainpage_status {
  padding-left: 1em;
  padding-right: 1em;
  text-align: left;
  z-index: 10;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 0.2em;

}


#avi_mainpage  .avn_more {
  display: inline-block;
}

#avi_mainpage .avn_listWrapper{
  margin-top: auto;
  margin-bottom: auto;
  .flex(1);
  .flex-justify-content(space-around);
  .avn_listContainer{
    padding-left: 1em;
    .flex(none);
  }
}


.avn_left_bottom {
  background-color: @colorSecond;
  .nightColors();
  .flex-shrink(0);
}


.avn_mainpage_leftbottominner {
  font-size: 0.8em;
  padding-top: 0.8em;
}

button.avb_ShowStatus {
  .avn_iconButton('images/icons-new/status.svg');
}

button.avb_ShowSettings {
  .avn_iconButton('images/icons-new/ic_settings.svg');
}

button.avb_Connected {
  .avn_iconButton('images/icons-new/plug.svg');
}

button.avb_Night {
  .avn_iconButton('images/icons-new/night.svg');
}

button.avb_ShowDownload {
  .avn_iconButton('images/icons-new/ic_file_download.svg');
}

button.avb_MainCancel {
  .avn_iconButton('images/icons-new/ic_clear.svg');
}

button.avb_MainAndroid {
  .avn_iconButton('images/icons-new/ic_android.svg');
}
.avb_MainInfo{
  .avn_iconButton('images/icons-new/ic_info.svg');
}

.avb_MainAddOns{
  .avn_iconButton('images/icons-new/apps.svg');
}

/*-------------------------------------------------------------------------------
    addon page
  -------------------------------------------------------------------------------
*/

#avi_addonpage{
  iframe{
    border:0;
    margin:0;
    width: 100%;
    height: 100%;
  }
}

/*-------------------------------------------------------------------------------
    element positioning
  -------------------------------------------------------------------------------
*/
.avn_page {
  .flexbox();
  height: 100%;
  width: 100%;
  position: relative;
}
.avn_pageWrapper {
  .flex-display();
  height: 100%;
  width: 100%;
}

/*1. left panel */
.avn_left_panel {
  .flex(1);
  .flexbox(); //seems to be necessary for old WebKit
  position: relative;
  overflow: hidden;
}

/*
    3. map
*/

.avn_map {
  top: 0;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.avn_main {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

/*
    4. bottom line  - see .avn_leftBottom
*/

/*
        5. additional panels
       correcting the .avn_main position is done by javascript
*/

.avn_float_left {
  float: left;
}

.avn_float_right {
  float: right;
}

/*
    5. right panel
*/

.avn_right_panel {
  display: block;
  position: relative;
  .nightBackFade(@colorMain);
}

.avn_status_image {
  width: 2em;
  height: 2em;
  .nightOPacity();
}

.avn_status_image_small {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  .nightOPacity();
}

/*------- simple modal -----------------------*/

.avn_overlay_cover_active {
  background-color: rgba(0, 0, 0, 0.35);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 120;
}

.avn_overlay_box {
  z-index: 140;
}

.avn_toast {
  height: auto;
  position: fixed;
  left: 50px;
  bottom: 10px;
  background-color: #383838;
  color: #F0F0F0;
  .nightColors();
  font-size: 1.5em;
  padding: 1em;
  text-align: center;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
  -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
  box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
  z-index: 9999;
}

/*-------------------------------------------------------------------------------
    dialogs
  -------------------------------------------------------------------------------
*/

.avn_dialog {
  z-index: 121;
  overflow: hidden;
  .mdShadow2();
}

.avn_dialog button {
  float: right;
}

.avn_dialog input {
  display: table-cell;
  font-size: inherit;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1em;
  width: 20em;
}

.avn_dialog label {
  display: table-cell;
  text-align: right;
}

.avn_selectDialog{
  .flex-display();
  .flex-direction(column);
  overflow: hidden;
  max-height: inherit;
  padding-bottom: 1em;
  .avn_selectList{
    .flex(1);
    .flex-basis(auto);
    overflow: auto;
  }
  .avn_row{
  }
  .avn_selectedItem {
    .nightBackFade(@colorSelection);
  }
}

