.item{
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  padding-bottom: 10px;
}

.canvasFrame{
  width: 250px;
  height: 250px;
  position: relative;
  border: 0;
  box-sizing: border-box;
}
canvas{
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom: 0;
  border: 0;
  box-sizing: border-box;
}

.mouseCanvas{
  z-index: 2;
}

.itemData{
  margin: auto;
  display: flex;
  flex-direction: column;
}

.removeButton{
}

.itemCanvas{
  background-color: lightgrey;
}

.item .buttons{
  margin: auto;
  display: flex;
  flex-direction: column;
}
.ships{
  display: flex;
}
.ship{
  display: flex;
  flex-direction: column;
  width: 10em;
  margin: 2em;
}
.shipColor{
  display: inline-block;
  width:1em;
  height:1em;
  margin-left: 1em;
}
.results{
  margin: 0.5em;
}
.results span{
  margin-right: 0.5em;
  display: inline-block;
}
.mouse{
  margin-left: 0.5em;
}
.mouse span{
  margin-right: 0.5em;
  display: inline-block;
}