[Unit]
Description=NMEA multiplexer and Browser based navigation
After=syslog.target network.target


[Service]
User=avnav
ExecStart=/usr/bin/avnav -b /var/lib/avnav
KillMode=control-group
Restart=always
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target