#a rule to use one adapter for connecting to an external net
#USB port ids are:
#upper left: 1-1.2:1.0
#upper right: 1-1.4:1.0
#lower left: 1-1.3:1.0
#lower right: 1-1.5:1.0
#currently we use upper left
KERNELS=="1-1.2:1.0",SUBSYSTEM=="net",PROGRAM="/usr/lib/avnav/raspberry/rename-interface.sh %k %b", NAME="%c"
#for pi3B+ - thanks to free-x
KERNELS=="1-1.1.2:1.0",SUBSYSTEM=="net",PROGRAM="/usr/lib/avnav/raspberry/rename-interface.sh %k %b", NAME="%c"
#fix for bookworm pi3b and pi4b ( what's with pi3b+?)
KERNELS=="1-1.2",SUBSYSTEM=="net",PROGRAM="/usr/lib/avnav/raspberry/rename-interface.sh %k %b", NAME="%c"
#KERNELS=="1-1.1.2",SUBSYSTEM=="net",PROGRAM="/usr/lib/avnav/raspberry/rename-interface.sh %k %b", NAME="%c"

#to fix a dongle to also work as access point if there are some conflicts
#just select an USB port that you would like to plug it
#and uncomment this line (example for upper right)
#KERNELS=="1-1.4:1.0",SUBSYSTEM=="net",NAME="wlan-ap2"

#an entry to bring the build in adapter of the rapsi3
#to a separate wlan - this should avoid conflicts
#with an adapter that has been plugged in
KERNELS=="mmc1:0001:1", SUBSYSTEM=="net", PROGRAM="/usr/lib/avnav/raspberry/rename-interface.sh %k %b", NAME="%c"
