[Unit]
Description=wlan check for broken 8192cu driver
After=syslog.target network.target


[Service]
ExecStart=/usr/lib/avnav/raspberry/check-wlan-av1.pl
KillMode=control-group
Restart=always
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target