[Unit]
Description=partition check for avnav on raspberry pi
After=syslog.target network.target


[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/lib/avnav/raspberry/check_parts worker
KillMode=control-group
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target