[Unit]
Description=restore iptables
After=syslog.target network.target


[Service]
User=root
Type=oneshot
ExecStart=/usr/lib/avnav/raspberry/restore-iptables.sh

[Install]
WantedBy=multi-user.target
