[Unit]
Description=WLAN activity check for avnav on raspberry pi
After=syslog.target network.target


[Service]
Environment="AVINTERFACES=wlan0"
ExecStart=/usr/lib/avnav/raspberry/check_wlan workersilent
KillMode=control-group
Restart=always
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target