[Unit]
Description=Configure CAN interface %i
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/lib/avnav/raspberry/setup-can.sh %i start
ExecStop=/usr/lib/avnav/raspberry/setup-can.sh %i stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

